header {
    background: rgb(77, 77, 77);
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10px;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.5);
}

body {
    background: linear-gradient(white 30%, #7777 20%, white 20%);
}

.logotipo {
    width: 200px;
    position: absolute;
    margin-left: 5%;
    margin-top: -5.3%;
}


.nav-itens1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: absolute;
    margin-left: 69%;
    margin-top: 1.2%;
    color: white;
}


.nav-itens2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: absolute;
    margin-left: 75%;
    margin-top: 1.2%;
    color: white;
}

.nav-itens3 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: absolute;
    margin-left: 82%;
    margin-top: 1.2%;
    color: white;
}

.area-estudante {
    position: relative;
    width: 50px;
    margin-left: 93%;
    margin-top: 0.2%;
}

.fundo-pesquisa {
    width: 100%;
}

.informacoes {
    position: relative;

    margin-top: 5%;

}

body {
    background: linear-gradient(#7777);
}

main,
p {
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 10px;
}

.acessar {
    background-color: blue;
    margin-top: 30%;
    width: 50%;
    margin-right: 2.5%;
    margin-top: 10%;
    padding: 15px 0;
    background-color: rgb(23, 6, 202);
    color: white;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    transition: 1s all;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    border-radius: 50px;
}



.acessar:hover {
    text-align: center;
    color: rgb(3, 3, 3);
    background-color: rgb(243, 147, 13);
}

.Cursos {
    margin-top: 10%;
    width: 150px;
}

.info {
    width: 350px;
    margin-left: 150px;
}

.informacoes p {
    font-size: 40px;
    margin-top: 20px;
}

.certificado {

    width: 350px;
    margin-left: 60%;
    margin-top: -25%;
}

.info-certificado {
    position: relative;
    margin-top: 80%;
    margin-left: 60%;
}

footer {
    position: relative;
    background: linear-gradient(white 1%, #7777);
}

.titulo5 {
    font-size: large;
    font-size: 50px;
    font-style: italic;
    margin-left: 370px;
}

footer p {
    font-size: 25px;
    margin-top: 20px;
    margin-left: 30px;
}

.footer {
    width: 250px;
    margin-top: -10%;
    margin-left: 50%;
}