header {
  background: rgb(0, 0, 0);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.5);
}

body {
  background: linear-gradient(white 30%, #7777);
}

main {
  background: linear-gradient(white 10%, );
}

.logotipo {
  width: 200px;
  position: absolute;
  margin-left: 5%;
  margin-top: -5.3%;
}

.nav-itens1 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  position: absolute;
  margin-left: 40%;
  margin-top: 1.2%;
  color: white;
}

.nav-itens2 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  position: absolute;
  margin-left: 50%;
  margin-top: 1.2%;
  color: white;
}

.nav-itens3 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  position: absolute;
  margin-left: 60%;
  margin-top: 1.2%;
  color: white;
}

.area-estudante {
  position: relative;
  width: 50px;
  margin-left: 93%;
  margin-top: 0.2%;
}

thead {
  background-color: #AAAAAA;
  font: bold;
  font-size: 20px;
  border-radius: 20px;
  border: solid;
}

table {
  width: 400px;
  table-layout: initial;
  margin-left: 35%;
  margin-top: 20px;
  grid-template-columns: 400px 400px 400px;
  border: solid 3px black;
  border-radius: 10px;


}

th {
  text-align: center;
  height: 50px;
  vertical-align: top;
}

td {
  text-align: center;
  height: 50px;
  font-family: 'Times New Roman', Times, serif;
}

th,
td {
  width: 300px;
  border: 1px solid black;
  padding: 3px;
  font-size: 30px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

table,
th,
td {
  border: 3px solid rgba(0, 0, 0, 0.2);

}

.selecione {
  font-size: 20px;
  width: 40%;
  margin-left: 30%;
  margin-top: 10%;
  background-color: rgb(82, 79, 79);
  padding: 16px 30px 16px 85px;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 5px 5px 5px;
}

.btConfirmar {
  margin-left: 20px;
  animation-fill-mode: backwards;
  border-radius: 30px;
  width: 150px;
  height: 50px;
  font-style: italic;
  font-size: medium;
  color: black;
  box-shadow: 5px 5px 5px;
  cursor: pointer;
}

footer {
  text-align: center;
  background: url("../imagens/bg.jpg");
  padding: 40px 0;
  margin-top: 25%;
}

.copyright {
  color: #ffffff;
  font-size: 13px;
  margin: 20px 0 0 0;
  margin-top: 5%;
}

.footer {
  width: 100px;
}